<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.likemilk.cho25_httpnetwork" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputActivity"
            android:label="@string/title_activity_input" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--네트워크 권한을 쓰러면 퍼미션 추가하고 관련메서드는 스레드로 빼주어야한다.-->
</manifest>
